<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>uPros API</title>
      <%- include('partials/css.ejs') %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
      <script>
        setInterval(function time(){
  var d = new Date();
  var hours = 24 - d.getHours() + 1;
  var min = 60 - d.getMinutes();
  if((min + '').length == 1){
    min = '0' + min;
  }
  var sec = 60 - d.getSeconds();
  if((sec + '').length == 1){
        sec = '0' + sec;
  }
  jQuery('#the-final-countdown').html("New shop in "+hours+' hours '+min+' minutes and '+sec+' seconds')
}, 1000);
      </script>
      <style>
        @import url('https://fonts.googleapis.com/css?family=Lato:100,400');
        @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
#the-final-countdown {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  color: #ffffff;

  font-size: 2rem;
}

        .button {
  background-color: #4CAF50; /* Green */
  display: block;
  border: none;
}
body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
      </style>
    </head>
    <body>

    

        <div class="container">
          <div id="the-final-countdown">
          </div>

            <h1 class="mt-4 mb-0" style="font-family: 'Luckiest Guy', cursive;text-align:center;">Featured Items</h1>
          
          
            <div class="row">
    
              <%
              let test = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
              for(var i in test){
                if(fs.existsSync("/dashboard/static/shop/featured/" + i + ".png")){%>
                  <div class="col-lg-3 col-md-4 col-6">
                <a class="mb-4 h-100">
                      <img class="img-fluid" src="/shop/featured/<%=i%>.png"  alt="">
                    </a>
              </div>
              <%}}
              %>
              
              
    
            </div>
          
          </div>

      <div class="container">

        <h1 class="mt-4 mb-0" style="font-family: 'Luckiest Guy', cursive;text-align:center;">Daily Items</h1>
      
      
        <div class="row">

          <%
          
          for(var i in test){
            if(fs.existsSync("/dashboard/static/shop/daily/" + i + ".png")){%>
              <div class="col-lg-3 col-md-4 col-6">
            <a class="mb-4 h-100">
                  <img class="img-fluid" src="/shop/daily/<%=i%>.png" alt="">
                </a>
          </div>
          <%}}
          %>
          
          

        </div>
      
      </div><br><br><br><br><br>

<nav class="navbar fixed-bottom navbar-expand-lg navbar-light" style="background-color: #4CAF50;">
          <ul class="navbar-nav mr-auto">
            <div>
            <button class="button">
            <li class="nav-item">
              <a class="nav-link" href="/fortnite/shop" style="color:white;font-family: 'Staatliches', bold;font-size:150%;"><strong>Daily Shop</strong></a>
            </li>
          </button>
        </div>
          </ul>
          <ul class="navbar-nav mc-auto">
            <div>
            <button class="button">
              <li class="nav-item">
                <a class="nav-link" href="/fortnite/items" style="color:white;font-family: 'Staatliches', bold;font-size:150%;"><strong>Items List</strong></a>
              </li>
            </button>
          </div>
          </ul>
          <ul class="navbar-nav ml-auto">
            <div>
            <button class="button">
              <li class="nav-item">
                <a class="nav-link" href="/fortnite/other" style="color:white;font-family: 'Staatliches', bold;font-size:150%;"><strong>        Others</strong></a>
              </li>
            </button>
          </div>
          </ul>
      </nav>
          
    </body>
</html>